.container{
    background: #182237;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    h2{
        color: gray;
        margin-left: 5px;
    }
    .search{
        padding: 10px 20px;
        font-size: large;
        display: flex;
        align-items: center;
        gap: 10;
        color: #fff;
        .inputSearch{
            display: flex;
            background: #2e3649;
            padding: 10px 20px;
            border-radius: 4px;
            gap: 2;
            input{
                
                border: none;
                outline: none;
                background: inherit;
                color: #fff;
            }
        }
    }
}
